body {
    background-color: #4385BF;
    color: black;
    font-family: helvetica;
}

#content {
    height: 100%;
    position: relative;
}

#footer {
    position: absolute;
    width: 99%;
    bottom: 0;
}

.col-1-3 {
    width: 23%;
}

.col-1-5 {
    width: 20%;
}

img { width: 150px }

[class*='col-'] {
    float: left;
}

a:link, a:visited, a:active {
    color: white;
    text-decoration: none;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
}

a:hover {
    color: #a2c1dc ;
    /*text-decoration: underline;*/
}

.grid {
    text-align: center;
}

.item {
    width: 33%;
    height: 33%;
}

.grid:after {
    content: "";
    display: table;
    clear: both;
}

.grid-pad {
    padding: 20px 0 20px 20px;
}

.grid-pad > [class*='col-']:last-of-type {
    padding-right: 10%;
}

*, *:after, *:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

[class*='col-'] {
    padding-right: 10%;
}

[class*='col-'] {
    padding-left: 10%;
}