<%inherit file="../base.html" />
        <%block name="title">Error...</%block>
        <%block name="header">
    <meta http-equiv="refresh" content="30" />
    <style type="text/css">
        #links {
            text-align: left;
            width: 20%;
        }
    </style>
        </%block>

<div class="jumbotron">
<div class="well" id="error">
    <H1>Page not found</H1>
    <div id="errordetails">
        <img src="/assets/images/error.png" />
        <br />
        Sorry, the requested module is apparently not available.
        <br />
        <a href="/"><img src="/assets/icons/iconmonstr-home-4-icon.svg" width="32" height="32"/>Return to the main menu</a>
    </div>
</div>
</div>