<%inherit file="base.html" />
        <%block name="title">About...</%block>
        <%block name="header">
    <meta http-equiv="refresh" content="30" />
    <style type="text/css">
        #compass {
  width: 330px;
  height: 330px;
  background-image:url('/assets/icons/iconmonstr-compass-6-icon.svg');
  background-size: 100% auto;
  position: relative;
}
        #links {
            text-align: left;
            width: 20%;
        }
    </style>
        </%block>

<div class="container">
    <div id="compass">
    </div>
</div>
<div class="container">
    <H2>Hackerfleet Technology Demonstrator (Beta)</H1>
    <div id="links">
        <ul>
            <li><a href="mailto:info@hackerfleet.org">Contact</a></li>
            <li><a href="https://hackerfleet.org">Homepage</a></li>
            <li>Report bugs via
                <ul>
                    <li><a href="mailto:bugs@hackerfleet.org">Mail</a></li>
                    <li><a href="https://github.com/ri0t/Qhfos/issues/new">Web interface</a></li>
                </ul>
            </li>
        </ul>
    </div>
</div>
