<%inherit file="base.html" />
        <%block name="title">Vessel Communications</%block>
        <%block name="header">
        </%block>

<div class="jumbotron" id="content">
    <div class="grid grid-pad">
        <div class="col-md-4">
            <div class="item shortrange"><a href="/communication_crew.html"><img src="/assets/icons/iconmonstr-user-14-icon.svg" type="image/svg+xml" style="fill: white;" />Crew Communication</a></div>
        </div>
        <div class="col-md-4">
            <div class="item longrange"><a href="/communication_longrange.html"><img src="/assets/icons/iconmonstr-globe-3-icon.svg" type="image/svg+xml" />Long Range</a></div>
        </div>
        <div class="col-md-4">
            <div class="item status"><a href="/communication_status.html"><img src="/assets/icons/iconmonstr-wireless-2-icon.svg" type="image/svg+xml" />Communication Status</a></div>
        </div>
    </div>
</div>