<%inherit file="base.html" />
        <%block name="title">Add crewmember...</%block>
        <%block name="header">

        </%block>



<div class="jumbotron" id="crew_details_form">

    <div class="well">
        <form id="crew_details" class="form-inline" action="/crew/store/${uid}">
            <div class="form-group">
                <input type="text" name="name" value="${name}">
                <input type="text" name="familyname" value="${familyname}">
            </div>
            <div class="form-group">
                <input type="text" name="phone" value="${phone}">
            </div>
            <div class="form-group">
                <input type="checkbox" name="fees_paid" ${'checked="checked"' if fees_paid else ''}">Fees Paid
                <input type="checkbox" name="netaccess">Network Access
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-default">Store crewmember</button>
            </div>
        </form>
    </div>
</div>
</div>

    <script lang="javascript">
jQuery.fn.serializeObject = function() {
  var arrayData, objectData;
  arrayData = this.serializeArray();
  objectData = {};


  $.each(arrayData, function() {
    var value;

    if (this.value != null) {
      value = this.value;
    } else {
      value = '';
    }

    if (objectData[this.name] != null) {
      if (!objectData[this.name].push) {
        objectData[this.name] = [objectData[this.name]];
      }

      objectData[this.name].push(value);
    } else {
      objectData[this.name] = value;
    }
  });

  return objectData;
};


// this is the id of the form
var frm = $('#crew_details');

frm.submit(function(ev) {


    $.ajax({
           type: "POST",
           url: frm.attr('action'),
           contentType: 'application/json',
           dataType: 'json',
           data: JSON.stringify(frm.serializeObject()), // serializes the form's elements.
           success: function(data)
           {
               alert(data); // show response from the php script.
           }
         });

    ev.preventDefault();
});

    </script>
