<%inherit file="base.html" />
        <%block name="title">Add crewmember...</%block>
        <%block name="header">

        </%block>



<div id="crew_add_form">

    <form class="form-inline" role="form">
      <div class="form-group">
        <label class="sr-only" for="crew_name">{$name}</label>
        <input type="text" class="form-control" id="crew_name" placeholder="Enter First Name">
      </div>
      <div class="form-group">
        <label class="sr-only" for="crew_lastname">{$familyname}</label>
        <input type="text" class="form-control" id="crew_lastname" placeholder="Enter Last Name">
      </div>
      <div class="form-group">
        <label class="sr-only" for="crew_phone">{$phone}</label>
        <input type="text" class="form-control" id="crew_phone" placeholder="Enter Phone Number">
      </div>
      <div class="checkbox">
        <label>
          <input type="checkbox">s Paid
        </label>
        <label>
          <input type="checkbox">Network Access
        </label>
      </div>
      <button type="submit" class="btn btn-default">Add crewmember</button>
    </form>

</div>
