<%inherit file="base.html" />
        <%block name="title">Welcome!</%block>
        <%block name="header">
        </%block>

<div class="jumbotron" id="content">
    <div class="grid grid-pad">
        <div class="col-1-3">
            <div class="item navdisplay"><a href="/navdisplay.html"><img src="/assets/icons/iconmonstr-compass-6-icon.svg" type="image/svg+xml" style="fill: white;" />Navigation Display</a></div>

            <div class="item communication"><a href="/communication.html"><img src="/assets/icons/iconmonstr-radio-tower-icon.svg" type="image/svg+xml" />Communication</a></div>
        </div>
        <div class="col-1-3">
            <!--<div class="item weather"><a href="/weather.html"><img src="/assets/icons/iconmonstrandhackerfleet-weather-icon.svg" type="image/svg+xml" />Weather</a></div>-->
            <!--<div class="item logbook"><a href="/logbook.html"><img src="/assets/icons/iconmonstr-printer-icon.svg" type="image/svg+xml" />Logbook</a></div>-->
        </div>
        <div class="col-1-3">
            <div class="item navigation"><a href="/navigation.html"><img src="/assets/icons/iconmonstr-map-2-icon.svg" type="image/svg+xml" />Navigation Planning</a></div>
            <div class="item settings"><a href="/settings.html"><img src="/assets/icons/iconmonstr-wrench-4-icon.svg" type="image/svg+xml" />Settings</a></div>
        </div>
    </div>
</div>