<%inherit file="base.html" />
        <%block name="title">Crew list...</%block>
        <%block name="header">
        <script src="/assets/js/jquery.dataTables.js"></script>
<script lang="javascript">
    $(document).ready(function() {
    $('#logbook').dataTable( {
        "aoColumns": [
            { "mData": "no" },
            { "mData": "time"},
            { "mData": "event"},
        ],
        "bProcessing": true,
        "bServerSide": true,
        "sAjaxSource": "logbook/list",
        "fnServerData": function ( sSource, aoData, fnCallback, oSettings ) {
          oSettings.jqXHR = $.ajax( {
            "contentType": 'application/json',
            "dataType": 'json',
            "type": "POST",
            "url": sSource,
            "data": JSON.stringify(aoData),
            "success": fnCallback
          } );
          console.log( JSON.stringify(aoData) );
          console.log( typeof aoData );
        },
        "fnRowCallback": function( nRow, aData, iDisplayIndex,iDisplayIndexFull) {
                console.log( JSON.stringify(aData));
                $(nRow).children().each(function(index, td) {
                            console.log("#######" + JSON.stringify(nRow));
                            if(index == 5)  {

                                if ($(td).html() === "EVA") {
                                    $(td).css("background-color", "#AA0000");
                                }
                                else if ($(td).html() === "Bridge") {
                                    $(td).css("background-color", "#00AA00");
                                }
                                else if ($(td).html() === "Machine Room") {
                                    $(td).css("background-color", "#00AA00");
                                }
                                else if ($(td).html() === "Bunk") {
                                    $(td).css("background-color", "#005555");
                                } else {
                                    //$(td).css("background-color", "#FF3229");
                                }


                            }
                });

        return nRow;
      },
    } );
} );

</script>
        </%block>
    <div class="jumbotron" id="content">
        <table id="logbook" class="display dataTable" width="100%" cellspacing="0" cellpadding="0" border="0" style="width: 100%;">
            <thead>

                <tr>
                    <th>No</th>
                    <th>Time</th>
                    <th>Event</th>
                </tr>

            </thead>
        </table>
    </div>

