<%inherit file="base.html" />
    <%block name="css">
    <link rel="stylesheet" href="/assets/css/leaflet.css" />
    <style type="text/css">
        body {
            padding: 0px;
            margin: 0px;
        }
        html, body, #map {
            padding-top: 23px;
            height: 100%;
        }
    </style>

    </%block>
    <%block name="title">Navigation...</%block>
    <%block name="header">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <script src="/assets/js/leaflet.js"></script>
    </%block>


 <div id="map"></div>


<script lang="javascript">
/*
$(document).ready(function() {
$.ajax({
    type: "POST",
    url: "navigation/map",
    contentType: 'application/json',
    dataType: 'json',
    success: function (response) {

        geojsonLayer = L.geoJson(response, {}).addTo(map);
    }
});

} );
*/


        var map = L.map('map').setView([52.513, 13.41998], 13);

        var openStreetMapUrl = 'http://{s}.tile.osm.org/{z}/{x}/{y}.png';
        var openStreetMapAttribution = '&copy; <a href="http://osm.org/copyright">OpenStreetMap</a> contributors';

        L.tileLayer(openStreetMapUrl, {attribution: openStreetMapAttribution}).addTo(map);

        var OpenSeaMapAttribution = 'Map data &copy; 2012 OpenSeaMap contributors';

        var seamarksUrl = 'http://tiles.openseamap.org/seamark/{z}/{x}/{y}.png';
        L.tileLayer(seamarksUrl, {maxZoom: 16, attribution: OpenSeaMapAttribution}).addTo(map);

        var sportsUrl = 'http://tiles.openseamap.org/sport/{z}/{x}/{y}.png';
        L.tileLayer(sportsUrl, {minZoom: 8, maxZoom: 18, attribution: OpenSeaMapAttribution}).addTo(map);


/*        L.tileLayer('http://{s}.tile.cloudmade.com/BC9A493B41014CAABB98F0471D759707/997/256/{z}/{x}/{y}.png', {
            maxZoom: 18,
            attribution: 'Map data &copy; <a href="http://openstreetmap.org">OpenStreetMap</a> contributors, <a href="http://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, Imagery © <a href="http://cloudmade.com">CloudMade</a>'
        }).addTo(map);
*/

        function onMapClick(e) {
            popup
                .setLatLng(e.latlng)
                .setContent("You clicked the map at " + e.latlng.toString())
                .openOn(map);
        }

        map.on('click', onMapClick);


</script>
