<%inherit file="base.html" />
    <%block name="css">
    <link rel="stylesheet" href="/assets/css/leaflet.css" />
    <link rel="stylesheet" href="/assets/css/leaflet.contextmenu.css"/>
    <link rel="stylesheet" href="/assets/css/L.Control.Pan.css" />
    <!--[if lt IE 9]>
    <link rel="stylesheet" href="/assets/css/L.Control.Pan.ie.css"/>
    <![endif]-->
    <link rel="stylesheet" href="/assets/css/L.Control.Zoomslider.css"/>


    <style type="text/css">
        body {
            padding: 0px;
            margin: 0px;
        }

        html, body, #map {
            padding-top: 23px;
            height: 100%;
        }

        body {
            padding-top: 23px;
            padding-bottom: 50px;
        }
        .leaflet-container .leaflet-control-mouseposition {
            background-color: rgba(255, 255, 255, 0.7);
            box-shadow: 0 0 5px #bbb;
            padding: 0 5px;
            margin:0;
            color: #333;
            font: 11px/1.5 "Helvetica Neue", Arial, Helvetica, sans-serif;
        }

        .filelayer-icon {
            margin-top: 5px;
        }
    </style>

    </%block>
    <%block name="title">Navigation...</%block>
    <%block name="header">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />

    </%block>


    <div id="map">

    </div>
    <div id="button-wrapper" class="navbar navbar-inverse navbar-fixed-bottom">
        <div class="collapse navbar-collapse">
                <ul class="nav navbar-nav navbar-center">
                    <li id="nav-cb_follow">
                        <input type="checkbox" id="cb_follow"><label>Follow</label>
                    </li>
                    <li id="nav-cb_update">
                        <input type="checkbox" id="cb_update"><label>Update</label>
                    </li>
                    <li id="nav-cb_identify">
                        <input type="checkbox" id="cb_identify"><label>Identify</label>
                    </li>
                    <li id="nav-cb_show_vessels">
                        <input type="checkbox" id="cb_show_vessels" onchange="update_show_vessels();"><label>Other
                        Vessels</label>
                    </li>
                    <li id="nav-cb_show_radiorange">
                        <input type="checkbox" id="cb_show_radiorange" onchange="update_show_radiorange();"><label>Radio
                        Range</label>
                    </li>

                </ul>
            </div>
        </div>
    </div>

<%block name="footerscripts">
<script src="/assets/js/leaflet/leaflet.js"></script>
<script src="/assets/js/leaflet/leaflet-providers.js"></script>
<script src="/assets/js/leaflet/leaflet-omnivore.min.js"></script>
<script src="/assets/js/leaflet/togeojson.js"></script>
<script src="/assets/js/leaflet/leaflet.restoreview.js"></script>
<script src="/assets/js/leaflet/leaflet.contextmenu.js"></script>
<script src="/assets/js/leaflet/Mixin.ContextMenu.js"></script>
<script src="/assets/js/leaflet/leaflet.filelayer.js"></script>
<script src="/assets/js/leaflet/Leaflet.transformmarker.js"></script>
<script src="/assets/js/leaflet/leaflet-editable-polyline.js"></script>
<script src="/assets/js/leaflet/L.Terminator.js"></script>
<script src="/assets/js/leaflet/L.Graticule.js"></script>
<script src="/assets/js/leaflet/L.Control.MousePosition.js"></script>
<script src="/assets/js/leaflet/L.Control.Pan.js"></script>
<script src="/assets/js/leaflet/L.Control.Zoomslider.js"></script>
<script src="/assets/js/geo.js"></script>
<script src="/assets/js/latlon.js"></script>

<script src="/assets/js/navigation.js"></script>

</%block>
