<%inherit file="base.html" />
    <%block name="css">
    <link rel="stylesheet" href="/assets/css/leaflet.css" />
    <link rel="stylesheet" href="/assets/css/leaflet.contextmenu.css"/>
    <link rel="stylesheet" href="/assets/css/L.Control.Pan.css" />
    <!--[if lt IE 9]>
    <link rel="stylesheet" href="/assets/css/L.Control.Pan.ie.css"/>
    <![endif]-->
    <link rel="stylesheet" href="/assets/css/L.Control.Zoomslider.css"/>


    <style type="text/css">
        body {
            padding: 0px;
            margin: 0px;
        }

        html, body, #map {
            padding-top: 23px;
            height: 100%;
        }

        body {
            padding-top: 23px;
            padding-bottom: 50px;
        }
        .leaflet-container .leaflet-control-mouseposition {
            background-color: rgba(255, 255, 255, 0.7);
            box-shadow: 0 0 5px #bbb;
            padding: 0 5px;
            margin:0;
            color: #333;
            font: 11px/1.5 "Helvetica Neue", Arial, Helvetica, sans-serif;
        }
    </style>

    </%block>
    <%block name="title">Navigation...</%block>
    <%block name="header">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />

    </%block>


    <div id="map">

    </div>
    <div id="button-wrapper" class="navbar navbar-inverse navbar-fixed-bottom">
        <div class="collapse navbar-collapse">
                <ul class="nav navbar-nav navbar-center">
                    <li id="nav-cb_follow">
                        <input type="checkbox" id="cb_follow"><label>Follow</label>
                    </li>
                    <li id="nav-cb_update">
                        <input type="checkbox" id="cb_update"><label>Update</label>
                    </li>
                    <li id="nav-cb_identify">
                        <input type="checkbox" id="cb_identify"><label>Identify</label>
                    </li>

                </ul>
            </div>
        </div>
    </div>

<%block name="footerscripts">
<script src="/assets/js/leaflet.js"></script>
<script src="/assets/js/leaflet-providers.js"></script>
<script src="/assets/js/leaflet-omnivore.min.js"></script>
<script src="/assets/js/togeojson.js"></script>
<script src="/assets/js/leaflet.restoreview.js"></script>
<script src="/assets/js/leaflet.contextmenu.js"></script>
<script src="/assets/js/Mixin.ContextMenu.js"></script>
<script src="/assets/js/leaflet.filelayer.js"></script>
<script src="/assets/js/Leaflet.transformmarker.js"></script>
<script src="/assets/js/leaflet-editable-polyline.js"></script>
<script src="/assets/js/L.Terminator.js"></script>
<script src="/assets/js/L.Graticule.js"></script>
<script src="/assets/js/L.Control.MousePosition.js"></script>
<script src="/assets/js/L.Control.Pan.js"></script>
<script src="/assets/js/L.Control.Zoomslider.js"></script>

<script lang="javascript">
    /* // Howto include a geojson layer:
    $(document).ready(function() {
        $.ajax({
            type: "POST",
            url: "navigation/map",
            contentType: 'application/json',
            dataType: 'json',
            success: function (response) {

                geojsonLayer = L.geoJson(response, {}).addTo(map);
            }
        });

    } );
    */


        L.RotatedMarker = L.Marker.extend({
          options: { angle: 0 },
          _setPos: function(pos) {
            L.Marker.prototype._setPos.call(this, pos);
            if (L.DomUtil.TRANSFORM) {
              // use the CSS transform rule if available
              this._icon.style[L.DomUtil.TRANSFORM] += ' rotate(' + this.options.angle + 'deg)';
            } else if (L.Browser.ie) {
              // fallback for IE6, IE7, IE8
              var rad = this.options.angle * L.LatLng.DEG_TO_RAD,
              costheta = Math.cos(rad),
              sintheta = Math.sin(rad);
              this._icon.style.filter += ' progid:DXImageTransform.Microsoft.Matrix(sizingMethod=\'auto expand\', M11=' +
                costheta + ', M12=' + (-sintheta) + ', M21=' + sintheta + ', M22=' + costheta + ')';
            }
          }
        });
        L.rotatedMarker = function(pos, options) {
            return new L.RotatedMarker(pos, options);
        };

        var Coords = [0,0];
        var Course = 0;
        var editingRoute = false;
        var routeLayers = {}
        var cm;

        L.Polyline.include(L.Mixin.ContextMenu);

        var VesselIcon = L.icon({
            iconUrl: '/assets/icons/vessel.png',
            //shadowUrl: 'leaf-shadow.png',

            iconSize:     [25, 25], // size of the icon
            //shadowSize:   [50, 64], // size of the shadow
            iconAnchor:   [12, 12], // point of the icon which will correspond to marker's location
            //shadowAnchor: [4, 62],  // the same for the shadow
            popupAnchor:  [-3, -76] // point from which the popup should open relative to the iconAnchor
        });

        var Routes = {};
        var route;
        var waypoints;

        function centerMap (e) {
            console.log(e.latlng);
            map.panTo(e.latlng);
        }

        function zoomIn (e) {
            map.zoomIn();
        }

        function zoomOut (e) {
            map.zoomOut();
        }

        function centerVessel (e) {
            map.panTo(Coords);
        }

        function closeRoute (e) {
            console.log("Closing route editor");

            var points = route.getPoints();
            console.log(points);
            waypoints = [];
            points.forEach(function(point) {
                console.log(point);
                waypoints.push(point.getLatLng());
            });
            $.ajax({
                type: "POST",
                url: '/route/store/', // missing: route id or "new"
                contentType: 'application/json',
                dataType: 'json',
                data: JSON.stringify(waypoints),
                success: function(data)
                {
                    alert(data);
                }
            });
            map.removeLayer(route);

            editingRoute = false;
            waypointline = L.polyline(waypoints, {color: 'black'}).addTo(map);
        }

        function startRoute (e) {
            if (editingRoute) {
                alert('Cannot edit two routes at one time! Close the current route first.');
            } else {
                console.log(Coords);
                var startcoords = e.latlng;
                console.log(startcoords);

                route = L.Polyline.PolylineEditor([
                    Coords,
                    [startcoords.lat, startcoords.lng]
                ],{
                    weight: 5
                }).addTo(map);
                editingRoute = true;
            }
        }

        var map = L.map('map', {
            zoom: 16,
            maxZoom: 17,
            minZoom: 3,
            zoomControl: false,
            zoomsliderControl: true,
            contextmenu: true,
            contextmenuWidth: 140,
            contextmenuItems: [{
                text: 'Start new route',
                callback: startRoute
            }, {
                text: 'Close route',
                callback: closeRoute
            }, '-', {
                text: 'Center map on Vessel',
                callback: centerVessel
            }, {
                text: 'Center map here',
                callback: centerMap
            }, '-', {
                text: 'Zoom in',
                icon: '/assets/images/zoom-in.png',
                callback: zoomIn
            }, {
                text: 'Zoom out',
                icon: '/assets/images/zoom-out.png',
                callback: zoomOut
            }]
        });

        if (!map.restoreView()) {
            map.setView([52.513, 13.41998], 16);
        }

        Terminator = L.terminator(); //.addTo(map);

        GraticuleOne = L.graticule({ style: { color: '#55A', weight: 1, dashArray: '.'}, interval: 1 }).addTo(map);

        MousePosition = L.control.mousePosition().addTo(map);

        L.control.pan().addTo(map);

        var openStreetMapUrl = 'http://{s}.tile.osm.org/{z}/{x}/{y}.png';
        var seamarksUrl = 'http://tiles.openseamap.org/seamark/{z}/{x}/{y}.png';
        var sportsUrl = 'http://tiles.openseamap.org/sport/{z}/{x}/{y}.png';

        var openStreetMapAttribution = '&copy; <a href="http://osm.org/copyright">OpenStreetMap</a> contributors';
        var OpenSeaMapAttribution = 'Map data &copy; 2012 OpenSeaMap contributors';

        var osmlayer       = L.tileLayer(openStreetMapUrl, {attribution: openStreetMapAttribution}).addTo(map);
            seamarkslayer  = L.tileLayer(seamarksUrl, {maxZoom: 16, attribution: OpenSeaMapAttribution}).addTo(map);
            sportslayer    = L.tileLayer(sportsUrl, {minZoom: 8, maxZoom: 18, attribution: OpenSeaMapAttribution});
        //    cloudmadelayer = L.tileLayer('http://{s}.tile.cloudmade.com/BC9A493B41014CAABB98F0471D759707/997/256/{z}/{x}/{y}.png', {
        //        maxZoom: 18,
        //        attribution: 'Map data &copy; <a href="http://openstreetmap.org">OpenStreetMap</a> contributors, <a href="http://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, Imagery © <a href="http://cloudmade.com">CloudMade</a>'
        //    });


        var baseLayers = {
            "Default": osmlayer,
            //"Cloudmade": cloudmadelayer,
        }

        var overlayLayers = {
            "Seamarks": seamarkslayer,
            "Sports": sportslayer,
            "Terminator": Terminator,
            "Grid 1°": GraticuleOne,
            'OpenWeatherMap Clouds': L.tileLayer.provider('OpenWeatherMap.Clouds'),
            'OpenWeatherMap CloudsClassic': L.tileLayer.provider('OpenWeatherMap.CloudsClassic'),
            'OpenWeatherMap Precipitation': L.tileLayer.provider('OpenWeatherMap.Precipitation'),
            'OpenWeatherMap PrecipitationClassic': L.tileLayer.provider('OpenWeatherMap.PrecipitationClassic'),
            'OpenWeatherMap Rain': L.tileLayer.provider('OpenWeatherMap.Rain'),
            'OpenWeatherMap RainClassic': L.tileLayer.provider('OpenWeatherMap.RainClassic'),
            'OpenWeatherMap Pressure': L.tileLayer.provider('OpenWeatherMap.Pressure'),
            'OpenWeatherMap PressureContour': L.tileLayer.provider('OpenWeatherMap.PressureContour'),
            'OpenWeatherMap Wind': L.tileLayer.provider('OpenWeatherMap.Wind'),
            'OpenWeatherMap Temperature': L.tileLayer.provider('OpenWeatherMap.Temperature'),
            'OpenWeatherMap Snow': L.tileLayer.provider('OpenWeatherMap.Snow')
        }
        jQuery.extend(overlayLayers, routeLayers);

        var layerControl = L.control.layers(baseLayers, overlayLayers).addTo(map);

        var style = {color:'red', opacity: 1.0, fillOpacity: 1.0, weight: 2, clickable: false};

        L.Control.FileLayerLoad.LABEL = '<i class="fa fa-folder-open"></i>';
        L.Control.fileLayerLoad({
            fitBounds: true,
            layerOptions: {style: style,
                           pointToLayer: function (data, latlng) {
                              return L.circleMarker(latlng, {style: style});
                           }},
        }).addTo(map);

        var courseplot = L.polyline([], {color: 'red'}).addTo(map);

        function onMapClick(e) {
            if($("#cb_identify").is(':checked')){

                var popup = L.popup()
                    .setLatLng(e.latlng)
                    .setContent("Here is: " + e.latlng.toString())
                    .openOn(map);
                }
        }

        map.on('click', onMapClick);

        VesselMarker = L.rotatedMarker(Coords, {icon: VesselIcon}).addTo(map);

        $(document).ready(function(){
            UpdateMapMarker();
        });

        function UpdateMapMarker(){
            if($("#cb_update").is(':checked')){
                console.log("Getting current Vessel position");
                $.ajax({
                    type: "POST",
                    url: "logbook/latest",
                    contentType: 'application/json',
                    dataType: 'json',
                    success: function (response) {
                        Coords = response.coords;
                        Course = response.course;
                        console.log("Coords: " + Coords + " Course:" + Course);

                        courseplot.addLatLng(Coords);
                        plotted = courseplot.getLatLngs()

                        if (plotted.length > 50) {
                            courseplot.spliceLatLngs(0, 1);
                        }

                        VesselMarker.setLatLng(Coords);
                        VesselMarker.options.angle = Course;
                        VesselMarker.update();

                    }
                });

            }

            if($("#cb_follow").is(':checked')){
                centerVessel();
            }

            setTimeout(function(){
                UpdateMapMarker();}, 3000);
        }


</script>
</%block>
