<%inherit file="base.html" />
<%block name="title">Vessel Communications</%block>
<%block name="header">
</%block>

<div class="jumbotron" id="content">
    <div class="container" id="menu">
        <h2>Settings</h2>
        <div class="grid grid-pad">
            <div class="col-md-4">
                <div class="item settings_crew"><a href="/crew_list.html"><img
                        src="/assets/icons/iconmonstr-user-14-icon.svg" type="image/svg+xml" class="menuicon" />Manage Crew</a></div>
                <div class="item settings_vessel"><a href="/settings_vessel.html"><img
                        src="/assets/icons/hackerfleet-ship-icon.svg" type="image/svg+xml" class="menuicon" />Manage
                    Vessel</a></div>
            </div>
            <div class="col-md-4">
                <div class="item settings_sensors"><a href="/settings_sensors.html"><img
                        src="/assets/icons/iconmonstrandhackerfleet-weather-icon.svg" type="image/svg+xml" class="menuicon" />Sensor
                    Settings</a></div>
            </div>
            <div class="col-md-4">
                <div class="item settings_navigation"><a href="/settings_navigation.html"><img
                        src="/assets/icons/iconmonstr-map-2-icon.svg" type="image/svg+xml" class="menuicon" />Navigation Settings</a>
                </div>
                <div class="item settings_general"><a href="/settings_general.html"><img
                        src="/assets/icons/iconmonstr-wrench-4-icon.svg" type="image/svg+xml" class="menuicon" />General Settings</a>
                </div>

            </div>
        </div>
    </div>
</div>